$canvas-width: 1000px;
$canvas-height: 650px;
$top-canvas-margin: 50px;

$primary-color: #272727;
$secondary-color: #ff652f;

body {
  margin: 0;
  background-color: $primary-color;
}

#main {
  position: relative;
  margin: $top-canvas-margin auto;
  width: $canvas-width;
  height: $canvas-height;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
}

canvas {
  position: absolute;
  left: -4;
  top: -5;
  z-index: 10;
  border-top: 1px solid $secondary-color;
  border-left: 1px solid $secondary-color;
  border-right: 1px solid $secondary-color;
}

#display {
  position: absolute;
  bottom: -10px;
  display: flex;
  justify-content: space-between;
  width: $canvas-width;
}

#score {
  width: 150px;
}
#info {
  position: absolute;
  bottom: $canvas-height/2;
  text-align: center;
  width: $canvas-width;
}
.level {
  width: 120px;
  color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
    border: none;
  }
  &:focus {
    box-shadow: none;
  }
  :active {
    box-shadow: none;
  }
}
